# for local dev database
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test_password_zxjkhjg93"
POSTGRES_DB="openforms"

# common
DOCKER_RESTART_POLICY=no

# frontned
FRONTEND_PORT=3004
BACKEND_API_BASE_URL=http://backend/api/v1

# backend
BACKEND_PORT=3005
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?schema=public&connect_timeout=15"
SESSION_SIGN_SECRET="xjjderr99844mcmmassxxxxxkwekrtmcl"
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"