services:
  database:
    ports:
      - '5432:5432'

  redis:
    ports:
      - '6379:6379'

  backend:
    build:
      target: development
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: bash -c "npm run prisma:migrate-dev-init && npm run start:dev"

  frontend:
    build:
      target: development
    volumes:
      - ./frontend:/usr/src/app
    command: npm run dev

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: ghcr.io/joeferner/redis-commander:latest
    restart: '${DOCKER_RESTART_POLICY:-no}'
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - '8081:8081'
